<template>
<v-layout row wrap class="grid_content_list">
<v-flex xs6 sm6 md4
 class="book_card_wrapper"
 v-for="(item,index) in data_list"
 :key="index"
>

 <v-hover v-slot:default="{ hover }">
  <v-card
    :loading="loading"
    class="mx-auto my-1"
    max-width="374"
    :height="cardHeight"
  >



    <v-img
    class="grid_book_image"
      :height="imgHeight"
      width= "315"
      :src="item.field_image"
    ></v-img>

    <!-- EXPANDED START -->
 <v-expand-transition>
    <div
      v-if="hover"
      class="transition-fast-in-fast-out white v-card--reveal display-3 black--text"
      style="height: auto;"
    >
           <h3  v-if="isMobile" class="book_card_title" v-bind:style="{ fontSize: titleFontSize + 'px' }" >{{ item.content_title.length > 40 ? item.content_title.substr(0, 60) + "..." : item.content_title }}</h3>
          <h3 v-else class="book_card_title" v-bind:style="{ fontSize: titleFontSize + 'px' }" >{{ item.content_title.length > 100 ? item.content_title.substr(0, 120) + "..." : item.content_title  }}</h3>
        <v-card-text class="book_card_content">
          <!-- <v-row
            class="mx-0"
          > -->
            <v-row
              class=""
            >
              <v-col
                :cols="4"
                 class="rating_score_wrapper"
              > 
               <v-rating
                  :value="item.rating"
                  color="amber"
                  class="rating_score"
                  dense
                  half-increments
                  readonly
                  :size="ratingSize"
                  ></v-rating>
              </v-col>
              <v-col
                :cols="8"
                class="price_wrapper"
              >
                <div class="grey--text" v-bind:style="{ fontSize: ratingSize + 'px' }" >{{ item.field_rating }} ({{ item.field_reviews}}) | Price: {{ item.field_price}}€ </div>
              </v-col>
            
             <v-divider class="separator"></v-divider>
            <div class="description_text">{{ item.field_description.substr(0, maxDescriptionLength) + "..." }}</div>
            <v-chip-group
                v-model="selection"
                active-class="deep-purple accent-4 white--text"
                column
                class="chips_wrapper"
            >
                <v-chip color="orange darken-2">Amazon</v-chip>

                <v-chip color="green darken-2">Thalia</v-chip>

                <v-chip color="red darken-2">Kobo</v-chip>

                <v-chip color="black darken-2 white--text">Apple</v-chip>
            </v-chip-group>
             <!-- <v-row align="center"> -->
            <div class="details_button_wrapper">
              <div v-if="isMobile" class="text-center details_button">
                <v-btn rounded  x-small color="black darken-2 white--text">More Details</v-btn>
              </div>
              <div v-else class="text-center details_button">
                <v-btn rounded small color="black darken-2 white--text">More Details</v-btn>
              </div>
            </div>
              
            </v-row>
          
        </v-card-text>
    </div>
  </v-expand-transition>
<!-- EXPANDED END -->

<!-- SHORT DESCRIPTION START -->

    <h3  v-if="isMobile" class="book_card_title" v-bind:style="{ fontSize: titleFontSize + 'px' }" >{{ item.content_title.length > 40 ? item.content_title.substr(0, 40) + "..." : item.content_title }}</h3>
    <h3 v-else class="book_card_title" v-bind:style="{ fontSize: titleFontSize + 'px' }" >{{ item.content_title.length > 100 ? item.content_title.substr(0, 100) + "..." : item.content_title  }}</h3>

    <v-card-text class="book_card_content">
      <v-row
        class=""
      >
      <v-col
        :cols="4"
        class="rating_score_wrapper"
      > 
      <v-rating
        :value="item.rating"
        color="amber"
        class="rating_score"
        dense
        half-increments
        readonly
        :size="ratingSize"
      ></v-rating>
      </v-col>
      <v-col
        :cols="8"
        class="price_wrapper"
      >
        <div class="grey--text"  v-bind:style="{ fontSize: ratingSize + 'px' }">{{ item.field_rating }} ({{ item.field_reviews}}) | Price: {{ item.field_price}}€ </div>
      </v-col>
       

        <v-chip-group
            v-model="selection"
            active-class="deep-purple accent-4 white--text"
            column
            class="chips_wrapper_short"
        >
            <v-chip orange><v-icon small color="orange darken-2">mdi-amazon</v-icon> Amazon</v-chip>

            <v-chip color="green darken-2"  >Thalia</v-chip>

            <v-chip color="red darken-2">Kobo</v-chip>

            <v-chip color="black darken-2 white--text" >Apple</v-chip>
        </v-chip-group>
      </v-row>
      
    </v-card-text>
    <!-- SHORT DESCRIPTION END -->
  </v-card>
</v-hover>
  </v-flex>
</v-layout>
</template>
<script>
  import Vue from 'vue';
  import GeneralFunctions from './../../../_helpers/functions';
  Vue.use(GeneralFunctions);
  export default {
    props: ['data_list'],
    data: () => ({
      loading: false,
      selection: 1,
      titleFontSize: 15,
      cardHeight: 600,
      imgHeight: 410,
      ratingSize: 14,
      maxDescriptionLength: 200
    }),
    computed: {

    },
    created(){
      this.titleFontSize = this.isMobile ? 13 : 15;
      this.cardHeight = this.isMobile ? 380 : 600;
      this.imgHeight = this.isMobile ? 230 : 410;
      this.ratingSize = this.isMobile ? 9 : 14;
      this.maxDescriptionLength = this.isMobile ? 150 : 300;
    },
    mounted () {
      console.log("is mobile: "+ this.isMobile);
    },
    methods: {
      reserve () {
        this.loading = true

        setTimeout(() => (this.loading = false), 2000)
      },
    },
  }
</script>
<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 1;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
</style>
