
<section class="resources-js-components-newsletter">
  <div class="quick-register">
    <form>
       <div class="row">
         <div class="col-md-8">
           <input name="name" class="form-control" placeholder="Email Address" type="email">
         </div> <!-- col -->
         <div class="col-md-4">
           <button class="m-btn m-btn-theme">Join Now</button>
         </div> <!-- col -->
       </div>
     </form>
   </div>
</section>

