<template>
  <v-card>
    <v-card-title class="headline">{{ isEdit ? "Edit Content" : "Add New Content"}}</v-card-title>
    <v-card-text class="text--primary">
          <form action="">
                <vue-form-generator tag="div" :schema="schema" :options="formOptions" :model="model" />
          </form>
    </v-card-text>
 
  </v-card>

</template>
<script src="./resources/js/components/admin/content/content-form.js"></script>
<style src="./resources/js/components/admin/content/content-form.scss" scoped lang="scss"></style>

