<template>
<v-card>
        <v-card-title>
          Users
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="users"
          :search="search"
        ></v-data-table>
      </v-card></template>
<script src="./resources/js/components/admin/users-list.js"></script>
<style src="./resources/js/components/admin/users-list.scss" scoped lang="scss"></style>
