// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'navigation';

@import 'newsletter';

@import 'form';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

button:focus {
    outline: 0px !important;
}

.v-main {
    padding: 20px 0px 0px !important;
}

.section-top-up .container {
    margin-top: -160px;
    position: relative;
    z-index: 1;
}
.m-15px-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature-box {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.28);
    padding: 40px 10% 70px 10%;
    background: #ffffff;
    border-radius: 10px 0px 10px 80px;
    position: relative;
    top: 0;
    -moz-transition: ease all 0.55s;
    -o-transition: ease all 0.55s;
    -webkit-transition: ease all 0.55s;
    transition: ease all 0.55s;
    height: 350px;
    max-width: 410px;
    margin: 0 auto;
}
.feature-box .icon {
    width: 90px;
    height: 90px;
    display: inline-block;
    line-height: 90px;
    text-align: center;
    background: #ffffff;
    border-radius: 5px 5px 5px 35px;
    font-size: 32px;
    margin: 0 0 40px;
    box-shadow: -6px 8px 10px 0px rgba(38, 92, 220, 0.31);
}

.text-shadow{
    text-shadow: rgb(0, 0, 0) 2px 2px;
}

.customer_comments_big{
    border-left: 1px solid gainsboro;
    width: 100%;
    height: 400px;
}

.content-container{
    max-width: 1440px;
    margin: 0 auto;
    background: #fafafa;
}
.v-toolbar__content{
    max-width: 1440px;
    margin: 0 auto;
    padding: 4px 0 !important;
}
.footer_wrapper{
    max-width: 1440px;
    margin: 0 auto;  
}


/* ebook */

.left__sidebar .v-list-item--link{
    padding: 0 !important;
}
.v-list-item .v-list-item__subtitle, .v-list-item .v-list-item__title{
    color: #6e6e79 !important;
    font-size: 14px !important;
}

.main__content {
    padding: 0 30px;
}

.main__content .v-tab{
    padding: 0 !important;
    min-width: 0 !important;
    margin-bottom: -20px;
}

#app > div > main > div > div > div.flex.xs12.sm9 > div > div > div:nth-child(4) > div {
    width: 75px;
    float: right;
}

#app > div > main > div > div > div.flex.xs12.sm9 > div > div > div:nth-child(4) > div > div > div.v-slide-group__wrapper > div > div.v-tabs-slider-wrapper {
    display: none;
}


/* GRID */
.grid_content_list .grid_book_image {
    margin: 0 auto;
}

.grid_content_list .v-image__image--cover {
    margin-top: 10px;
}


.left__sidebar {
    padding: 25px;
}

.book_card_wrapper {
    padding: 0 2.5px;
}
.book_card_wrapper .book_card_title {
    padding: 5px 10px;
}
.book_card_wrapper .book_card_content{
    padding: 0 10px;
}

.book_card_wrapper .rating_score {
    padding: 5px;
}

.book_card_wrapper .description_text{
    padding: 0 15px;
}

.book_card_wrapper .chips_wrapper{
    padding: 0px 10px !important;
}

.book_card_wrapper .chips_wrapper_short{
    padding: 0px 10px !important;
    position: absolute;
    bottom: 0;
}

.book_card_wrapper .details_button_wrapper {
    padding: 5px 10px;
    text-align: center;
}
.book_card_wrapper .details_button_wrapper .details_button {
    margin: 0 auto;
}

.main__content .select_filter{
    padding: 10px;
}

@media (max-width: 767px) {
  
    .book_card_wrapper .book_card_title {
        padding: 5px;
        margin-bottom: 0;
    }
    .book_card_wrapper .description_text{
        font-size: 10px;
        padding: 0 15px;
    }
    
    .book_card_wrapper .book_card_content{
        padding: 5px !important;
    }
    .book_card_wrapper .rating_score {
        padding: 0 !important;
    }

    .book_card_wrapper .v-chip-group .v-chip {
        margin: 0px 3px 3px 4px;
    }

    .book_card_wrapper .v-chip.v-size--default {
        border-radius: 16px;
        font-size: 10px;
        height: 21px;
    }
    .book_card_wrapper .rating_score_wrapper {
        padding: 0px 10px !important;
    }
    .book_card_wrapper .price_wrapper {
        padding: 0 0 0 20px !important;
    }
    .book_card_wrapper .chips_wrapper{
        padding: 0px 10px !important;
    }

    .book_card_wrapper .separator{
        margin:5px 0 ;
    }
}

.padding_0 {
    padding: 0 !important;
}

.navigation_brand{
    padding: 0 !important;
    text-decoration: none !important;
}
.user_toolbar .navigation_brand .v-btn:hover:before,.user_toolbar .navigation_brand .v-btn--active:before {
    opacity: 1 !important;
}

@media screen and (max-width: 1440px) {
    .admin_toolbar{
        padding: 0 15px;
    }
    .user_toolbar{
        padding: 0 15px;
    }
  }
