section.resources-js-components-admin-dashboard > div > div.col-md-10 > div > div.v-card__text.text--primary > form .error {
    background-color: transparent !important; 
    border-color: #ff5252 !important;
}


#app > div.v-dialog__content.v-dialog__content--active > div{
    margin: 0 !important;
    box-shadow: none !important;
    overflow: hidden !important;
}