.resources-js-components-newsletter{
    display: block;
    width: 100%;
}

.quick-register{
    background: #ffffff;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 20px 0 -10px rgba(255, 255, 255, 0.17), 0 38px 0 -20px rgba(255, 255, 255, 0.17);
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
}

.m-btn {
    display: inline-block;
    border: 2px solid transparent;
    color: inherit;
    line-height: inherit;
    border-radius: 0;
    width: auto;
    padding: 10px 25px;
    font-size: 17px;
    cursor: pointer;
    -moz-transition: ease-in-out all 0.55s;
    -o-transition: ease-in-out all 0.55s;
    -webkit-transition: ease-in-out all 0.55s;
    transition: ease-in-out all 0.55s;
    outline: none !important;
}
.m-btn.m-btn-theme {
    background: #265cdc;
    border-color: #265cdc;
    color: #ffffff;
    width: 100%;
}

.form-control {
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    height: 100% !important;
    width: 100%;
    font-size: 15px;
}
.newsletter_submit_btn{
    width: 100% !important;
}

.newsletter_email_wrapper{
    // padding: 20px 5px 0 20px !important;
} 

.newsletter_button_wrapper{
    // padding: 20px 20px 30px 5px !important;
} 

.newsletter_email_wrapper > div > div > div.v-text-field__details {
    position: absolute;
    top: -1px;
    left: 0px;
}