<template>
  <div >
     <content-type-field-add></content-type-field-add>
      <v-spacer></v-spacer>
      <content-type-field-list></content-type-field-list>
  </div>
</template>
<script src="./resources/js/components/admin/content/content-type-edit.js"></script>
<style src="./resources/js/components/admin/content/content-type-edit.scss" scoped lang="scss"></style>

