<template>
    <div>
        <form>
            <input name="email" placeholder="email">
        </form>
    </div>
</template>
<script src="./user-registration.js"></script>
<style src="./user-registration.scss" scoped lang="scss"></style>

