<template>
<section class="resources-js-components-admin-dashboard">
      <content-type-add></content-type-add>
      <v-spacer></v-spacer>
      <content-type-list></content-type-list>
</section>
</template>
<script src="./resources/js/components/admin/content/content-types.js"></script>
<style src="./resources/js/components/admin/content/content-types.scss" scoped lang="scss"></style>

