<template>
  <v-app light>

    <v-main>
      <section>
        <v-parallax :src="imageLink.main_heading" height="600">
          <v-layout column align-center justify-center class="white--text">
            <h1 class="white--text mb-2 display-1 text-xs-center" style="font-weight: 900; text-shadow: 3px 2px #000000">Get the book by the best deal</h1>
            <div class="white--text subheading mb-3 text-xs-center" style="font-weight: 900; text-shadow: 2px 2px #000000">Upgrade your knowledge without limitations</div>
            <newsletter-component></newsletter-component>
          </v-layout>
        </v-parallax>
      </section>

 <section id="about" class="section-top-up gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-4 m-15px-tb">
            <div class="feature-box">
              <div class="icon"><v-icon x-large color="blue darken-2">mdi-sync</v-icon></div>
              <div class="feature-content">
                <h5>Fresh deals every day</h5>
                <p> Our team researches the best eBook deals for your favorite category every day</p>
                <div class="btn-bar"><a class="m-btn-icon theme-light" href="#"><i class="fa fa-chevron-right"></i></a></div>
              </div>
            </div>
          </div> <!-- col -->

          <div class="col-md-4 m-15px-tb">
            <div class="feature-box">
              <div class="icon"><v-icon x-large color="orange darken-2">mdi-amazon</v-icon></div>
              <div class="feature-content">
                <h5>Our Partners</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="btn-bar"><a class="m-btn-icon theme-light" href="#"><i class="fa fa-chevron-right"></i></a></div>
              </div>
            </div>
          </div> <!-- col -->

          <div class="col-md-4 m-15px-tb">
            <div class="feature-box">
              <div class="icon"><v-icon x-large color="green darken-2">mdi-book-open-page-variant</v-icon></div>
              <div class="feature-content">
                <h5>How it works</h5>
                <p>Book deals brings you free and discounted eBooks that match your interests. You can sign up for free sign up and read the eBooks on any device..</p>
                <div class="btn-bar"><a class="m-btn-icon theme-light" href="#"><i class="fa fa-chevron-right"></i></a></div>
              </div>
            </div>
          </div> <!-- col -->
        </div> <!-- row -->
      </div>
    </section>
<!-- SESCTION 2 -->
      <section>
        <v-parallax :src="imageLink.we_offer" height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-3 text-xs-center text-shadow">What do we offer </div>
            <em class="text-shadow">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em>
          </v-layout>
        </v-parallax>
      </section>

       <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline"><v-icon x-large color="red darken-2">mdi-heart</v-icon></div>
                </v-card-title>
                <v-card-text >
                  <div class="headline">Handpicked deals</div>
                   <br>
                  "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et har
                </v-card-text>
              </v-card>
            </v-flex>
             <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline"><v-icon x-large color="red darken-2">mdi-file</v-icon></div>
                </v-card-title>
                <v-card-text >
                   <div class="headline">Choose your favorite category</div>
                    <br>
                  "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et har 
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline"><v-icon x-large color="red darken-2">mdi-download</v-icon></div>
                </v-card-title>
                <v-card-text>
                   <div class="headline">Download, listen and enjoy</div>
                   <br>
                  "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et har
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>

    <!-- SESCTION 3 -->
       <section>
        <v-parallax :src="imageLink.customers" height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-3 text-xs-center text-shadow">What people say about us </div>
            <em></em>
            <v-btn class="blue lighten-2 mt-5" dark large href="/pre-made-themes">
              Show more
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

        <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
  <v-flex xs12 sm4>
      <v-list three-line>
        <template v-for="(item, index) in customers_confession_short">
          <v-subheader
            v-if="item.header"
            :key="item.header"
            v-text="item.header"
          ></v-subheader>

          <v-divider
            v-else-if="item.divider"
            :key="index"
            :inset="item.inset"
          ></v-divider>

          <v-list-item
            v-else
            :key="item.name"
          >
            <v-list-item-avatar>
              <v-img :src="item.avatar"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-html="item.name"></v-list-item-title>
              <v-list-item-subtitle v-html="item.comment"></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
  </v-flex>
  <v-flex xs12 sm8>
    <v-layout row wrap>
    <v-flex xs12 sm6>
      <v-card
    class="mx-auto"
    color="#26c6da"
    dark
    max-width="400"
  >
    <v-card-title>
      <v-icon
        large
        left
      >
        mdi-twitter
      </v-icon>
      <span class="title font-weight-light">Twitter</span>
    </v-card-title>

    <v-card-text class="headline font-weight-bold">
      "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
    </v-card-text>

    <v-card-actions>
      <v-list-item class="grow">
        <v-list-item-avatar color="grey darken-3">
          <v-img
            class="elevation-6"
            src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Evan You</v-list-item-title>
        </v-list-item-content>

        <v-row
          align="center"
          justify="end"
        >
          <v-icon class="mr-1">mdi-heart</v-icon>
          <span class="subheading mr-2">256</span>
          <span class="mr-1">·</span>
          <v-icon class="mr-1">mdi-share-variant</v-icon>
          <span class="subheading">45</span>
        </v-row>
      </v-list-item>
    </v-card-actions>
  </v-card>
    </v-flex>


    <v-flex xs12 sm6>
      <v-card
    class="mx-auto"
    color="#4267B2"
    dark
    max-width="400"
  >
    <v-card-title>
      <v-icon
        large
        left
      >
        mdi-facebook
      </v-icon>
      <span class="title font-weight-light">Facebook</span>
    </v-card-title>

    <v-card-text class="headline font-weight-bold">
      "Turns out semicolon-less style is easier and safer in TS because most gotcha edge cases are type invalid as well."
    </v-card-text>

    <v-card-actions>
      <v-list-item class="grow">
        <v-list-item-avatar color="grey darken-3">
          <v-img
            class="elevation-6"
            src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Adam He</v-list-item-title>
        </v-list-item-content>

        <v-row
          align="center"
          justify="end"
        >
          <v-icon class="mr-1">mdi-heart</v-icon>
          <span class="subheading mr-2">320</span>
          <span class="mr-1">·</span>
          <v-icon class="mr-1">mdi-share-variant</v-icon>
          <span class="subheading">70</span>
        </v-row>
      </v-list-item>
    </v-card-actions>
  </v-card>
    </v-flex>
    </v-layout>
  </v-flex>
          </v-layout>
        </v-container>
      </section>

       <section>
        <v-parallax :src="imageLink.social_cover" height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-3 text-xs-center text-shadow">We are dropping cool news and opportunities on socials</div>
          </v-layout>
          <v-layout justify-space-around justify-center>

              <v-icon x-large color="blue lighten-4">mdi-facebook</v-icon>

              <v-icon x-large color="blue lighten-4">mdi-twitter</v-icon>

              <v-icon x-large color="blue lighten-4">mdi-reddit</v-icon>

              <v-icon x-large color="blue lighten-4">mdi-instagram</v-icon>

              <v-icon x-large color="blue lighten-4">mdi-discord</v-icon>
            </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Company info</div>
                </v-card-title>
                <v-card-text >
                  We are not a company. We hate companies. Just imagine us like the guys from the Silicon Valley series. 
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Our mission</div>
                </v-card-title>
                <v-card-text>
                  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti 
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>



    </v-main>
</v-app>
</template>

<script>
export default {
  name: "App",
  data: function() {
    return {
      title: "Endorfine",
       imageLink: {
        we_offer:
          "https://images.unsplash.com/photo-1524494860062-9442631ee30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80",
        main_heading:
          "https://cdn.pixabay.com/photo/2015/09/02/12/33/books-918521_960_720.jpg",
        customers:
          "https://cdn.pixabay.com/photo/2017/08/07/15/18/boy-2604853_960_720.jpg",
        social_cover:
          "https://cdn.pixabay.com/photo/2015/04/13/15/18/smartphone-720684_960_720.jpg"
      },
      email: "",
      emailRules: [
        v => {
          return !!v || "E-mail is required";
        },
        v =>
          /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
          "E-mail must be valid"
      ],
      subscribed: false,
        customers_confession_short: [
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          name: 'Jhon Doe',
          comment: "molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qu",
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
          name: 'Some Girl',
          comment: "molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qu",
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          name: 'Another Girl',
          comment: "molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qu",
        },
      ],
           customers_confession_big: [
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          name: 'Jhon Doe',
          comment: "molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qu",
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
          name: 'Some Girl',
          comment: "molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qu",
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          name: 'Another Girl',
          comment: "molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qu",
        },
        { divider: true, inset: true },
        {
          avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
          name: 'Another Girl',
          comment: "molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qu",
        },
      ],
    };
  },
  methods: {
    subscribe: function() {
      this.subscribed = !this.subscribed;
    },
    calculateHeight(){
        return true;
    }
  },

  computed: {
    imgHeight: function() {
      var offset = 320;
      console.log("new image height is " + (this.pageHeight - offset));
      return this.pageHeight - offset;
    }
  },

  mounted: function() {
    this.calculateHeight();
    let access_token = localStorage.getItem('access_token');
    let refresh_token = localStorage.getItem('refresh_token');
    let expires_at = localStorage.getItem('expires_at');
    
    console.log(expires_at);
  }
};
</script>

<style scoped>
.finedTitle {
  font-weight: 900;
  text-shadow: 2px 2px #000000;
}

.social-icon {
  font-size: 21px;
  color: white;
}


/** Section about us */


</style>
