<template>
    <v-app light>
    <v-content>
        <v-layout row wrap>
        <!-- BREAD CRUMBS -->
            <v-flex xs12>
            <v-breadcrumbs :items="breadcrumbs">
                <template v-slot:item="{ item }">
                <v-breadcrumbs-item
                    :href="item.href"
                    :disabled="item.disabled"
                >
                    {{ item.text.toUpperCase() }}
                </v-breadcrumbs-item>
                </template>
            </v-breadcrumbs>
            </v-flex>
        <!-- LEFT SIDEBAR -->

            <v-flex xs12 sm3 >
                <div class="left__sidebar">
                    <v-expansion-panels accordion
                        v-model="openPanels"
                        multiple
                    >
                        <v-expansion-panel
                        v-for="(item,index) in accordionCategories"
                        :key="index"
                        >
                        <v-expansion-panel-header>{{ item.cat_name}}</v-expansion-panel-header>
                        <v-expansion-panel-content>
                        <v-list-item-group color="primary">
                                <v-list-item
                                v-for="(value, key) in item.list"
                                :key="key"
                                >
                                <v-list-item-content>
                                    <v-list-item-title v-text="value.list_item"></v-list-item-title>
                                </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </div>
            </v-flex>
        
        <!-- MAIN CONTENT -->
            <v-flex xs12 sm9 >
              <div class="main__content">  
                <v-layout row wrap>
                    <v-flex xs12 sm5>
                        <div class="results_show">Showing 1–12 of 126 results</div>
                    </v-flex>
                    <v-flex xs12 sm4>
                          <v-select
                            class="select_filter"
                            :items="sortBy"
                            label="Sort By"
                          ></v-select>
                    </v-flex>
                    <v-flex xs12 sm2>
                        <v-select
                        class="select_filter"
                        :items="showNumberOfItems"
                        label="Number of items"
                        ></v-select>
                    </v-flex>
                    <v-flex xs12 sm1>
                            <v-tabs
                                v-model="tab"
                                >
                                    <v-tab
                                    :key= 1
                                    >
                                    <v-icon large dark>mdi-apps</v-icon>
                                    </v-tab>
                                    <v-tab
                                    :key= 2
                                    >
                                    <v-icon large dark>mdi-format-list-bulleted</v-icon>
                                    </v-tab>
                                </v-tabs>
                             
                    </v-flex>
                    <v-flex xs12>
                                <v-tabs-items v-model="tab">
                                    <v-tab-item
                                    :key= 1
                                    >
                                        <v-card flat>
                                            <v-card-text>
                                                <grid-content-list-component :data_list="book_list"></grid-content-list-component>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item
                                    :key= 2
                                    >
                                        <v-card flat>
                                            <v-card-text>TAB 2</v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs-items>
                    </v-flex>
                </v-layout>
              </div>
            </v-flex>

        <!-- END -->
        </v-layout>
    </v-content>
    </v-app>
</template>
<script>
import Vue from 'vue';
import GeneralFunctions from './../../../_helpers/functions';
import axios from 'axios';
import VueAxios from 'vue-axios';
Vue.use(VueAxios, axios);
Vue.use(GeneralFunctions);
export default {
  name: 'ebook',
  components: {},
  props: [],
  data () {
    return {
        tab: null,
      breadcrumbs: [
        {
          text: 'Homepage',
          disabled: false,
          href: '/',
        },
        {
          text: 'Ebook',
          disabled: false,
          href: 'ebook',
        },
       

      ],
      openPanels:[],
      showNumberOfItems: ['Show 10', 'Show 20', 'Show 30', 'Show 40'],
      sortBy: ['Sort by price', 'Sort by popularity', 'Sort by newness'],
      accordionCategories: [
          {
              cat_name: 'Categories',
              list: [
                  {
                      list_item: 'Bussiness'
                  },
                  {
                      list_item: 'Kids'
                  },
                  {
                      list_item: 'Finance'
                  },
                  {
                      list_item: 'Psihologie'
                  },
              ]
          },
          {
              cat_name: 'Author',
              list: [
                    {
                      list_item: 'A. J. Fin'
                    },
                    {
                        list_item: 'Anne Frank'
                    },
                    {
                        list_item: 'Danielle Steel'
                    },
                    {
                        list_item: 'David Quammen'
                    },
              ]
          },
          {
              cat_name: 'Language',
              list: [
                    {
                      list_item: 'English'
                    },
                    {
                        list_item: 'German'
                    },
                    
              ]
          },
          {
              cat_name: 'Format',
              list: [
                {
                    list_item: 'Audio cd'
                },
                {
                    list_item: 'Hardcover'
                },
                {
                    list_item: 'Paperback'
                },
                {
                    list_item: 'Kindle'
                },
              ]
          },
          {
              cat_name: 'Price Filter',
              list: [
                  {}
              ]
          },
      ],
      book_list: [],
      book_list2: [
          {
              cover: "https://m.media-amazon.com/images/I/41Z+pPQ0kkL._SY346_.jpg",
              title: "Think Like a Monk: Train Your Mind for Peace and Purpose Everyday",
              description: "Eine nackte Leiche, die an der Oberfläche des Gondelweihers treibt, zerstört die Idylle im beschaulichen Städtchen Wassenberg am südlichen Niederrhein. Als ein weiterer Toter auftaucht, werden die Ermittlungen für die beiden Kommissare Fiona Kirch...",
              price: 1.95,
              rating: 4.5,
              reviews: 321

          },
             {
              cover: "https://m.media-amazon.com/images/I/519qTIH5FVL._SY346_.jpg",
              title: "Das Entfachen des Feuers (Wilde Feuer Kaliforniens 1)",
              description: "Sookie Logan ist nur an Einem interessiert und das ist bestimmt nicht Chase Kingston. Als Pilotin für die Nationalgarde ist sie nur in ihrer Heimat, um bei der Bekämpfung eines Waldbrandes zu helfen und nicht, um sich mit einem Feuerwehrmann einzu...",
              price: 0.95,
               rating: 4.5,
              reviews: 123

          },
             {
              cover: "https://m.media-amazon.com/images/I/51tayIUjykL.jpg",
              title: "Witches of Portland - Der Weise Rat",
              description: "Lexi wurde getötet - durch einen Zauberspruch von Sams Vater! Bevor diese völlig verzweifelt, glaubt ihre Mom noch eine letzte Idee zu haben. Aber kann man einen Menschen wirklich aus dem Reich der Toten zurückholen? Und wenn ja, zu welchem ...",
              price: 0.95,
              rating: 4.5,
              reviews: 345

          },
             {
              cover: "https://m.media-amazon.com/images/I/51AOgBt7wPL.jpg",
              title: "Muskelaufbau Vegan Kochbuch",
              description: "Möchten Sie endlich Ihren Traumkörper erreichen? Sie wollen Muskeln aufbauen, ohne auf Ihren veganen Lebensstil verzichten zu müssen und suchen nach zusätzlicher Inspiration mit einfacher Umsetzung?",
              price: 0.0,
               rating: 4.5,
              reviews: 57

          },
             {
              cover: "https://m.media-amazon.com/images/I/51NZ+KBrB7L.jpg",
              title: "Summer in my pocket: Sonnige Geschichten für Urlaub & Balkonien Summer in my pocket: Sonnige Geschichten für Urlaub & Balkonien Summer in my pocket: Sonnige Geschichten für Urlaub & Balkonien",
              description: "Sommer, Sonne, gute Laune. Urlaub ist die schönste Zeit des Jahres. Jeder Sommer hat eine Geschichte... Die gefühlvollsten, lustigsten, spannendsten Sommer- und Urlaubsgeschichten...",
              price: 0.0,
              rating: 4.5,
              reviews: 122

          },
             {
              cover: "https://m.media-amazon.com/images/I/51atmBr393L.jpg",
              title: "New York Moments",
              description: "Eine Geschichte über Sehnsucht, Glück, Geborgenheit und... Liebe",
              price: 0.95,
              rating: 4.5,
              reviews: 43

          }
      ]
    }
  },
  created () {
     this.openPanels = this.isMobile ? [] : [ 0, 1, 2, 3, 4 ];
  },
  mounted () {
    this. getBooks();
  },
  methods: {
      getBooks(){
        axios.get('/api/content/books/list')
        .then(response => {
        console.log(response);
        this.book_list = response.data;
      }).catch(error => {
        console.log(error);
      });
      }
  }
}
</script>
<style scoped lang="scss">
</style>