<template>
    <section class="resources-js-components-admin-dashboard">
        <content-form></content-form>
    </section>
</template>
<script src="./resources/js/components/admin/content/content-form-page.js"></script>
<style src="./resources/js/components/admin/content/content-form-page.scss" scoped lang="scss"></style>

