<template>
    <v-toolbar dense light class="white user_toolbar">
          <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->

          <v-toolbar-title > 
              <button @click="toHome()" class="navigation_brand" text >Book Deals</button>
          </v-toolbar-title>

          <v-spacer></v-spacer>

          <!-- <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn> -->

          <login></login>
    </v-toolbar>
</template>
<script src="./resources/js/components/user/top-navigation.js"></script>
<style src="./resources/js/components/user/top-navigation.scss" scoped lang="scss"></style>

