<template>
    <!-- App.vue -->
    <v-app class="main-container">
    <top-nav-component app></top-nav-component>

    <!-- Sizes your content based upon application components -->
    <v-main>
        <!-- Provides the application the proper gutter -->
        <v-container fluid>
            <div class="content-container">
                
                <router-view v-if="!isAdmin"></router-view>
                
                <div class="row" v-if="isAdmin">
                    <div class="col-md-2">
                        <admin-side-navigation></admin-side-navigation>
                    </div>
                    <div class="col-md-10">
                        <router-view></router-view>
                    </div>
                </div>

            </div>
        </v-container>
    </v-main>

    <footer-component></footer-component>
    </v-app>
</template>

<script>
const accessToken = '';

import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import { EventBus } from '../app';
Vue.use(VueAxios, axios);
    export default {
         provide: {
            accessToken
        },
        name: "App",
        data: () => ({
            isAdmin: false
        }),
        created (){
            EventBus.$on('isAdmin', (data) => {
                this.isAdmin = data;
            });
        },
        mounted() {
 
        }
    }
</script>