<template>
  <div class="login_element"  v-bind:style="{ width:'auto' }" >
        <v-menu
        v-if="authorized"
      transition="slide-y-transition"
      bottom
    >
      <template v-slot:activator="{ on, attrs }">
        <button class="my-account"
         v-bind="attrs"
          v-on="on"
        >
         My Account<v-icon>mdi-dots-vertical</v-icon>
        </button>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, i) in accountItems"
          :key="i"
          @click="ItemChange(item)"
        >
          <v-list-item-title>{{ item.item }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>


    <v-dialog v-model="dialog" persistent max-width="600px" v-if="!authorized">
      <template v-slot:activator="{ on }" >
        <!-- <v-btn color="primary" dark v-on="on">Login</v-btn> -->
        <button v-on="on" class="my-account">
         Login<v-icon>mdi-dots-vertical</v-icon>
        </button>
      </template>

    
      <!-- <v-card>
        <v-card-title>
          <span class="headline">Login</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
             
              <v-col cols="12">
                <v-text-field label="Email*" v-model="email" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field label="Password*" v-model="password" type="password" required></v-text-field>
              </v-col>
             
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" text @click="login_attempt()">Login</v-btn>
        </v-card-actions>
      </v-card> -->

      <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="user" type="text" class="input" v-model="email" required>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" v-model="password" type="password" required class="input" data-type="password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button"  @click="login_attempt()"  value="Sign In">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div>
				<div class="hr"></div>
				<div class="foot-lnk">
					<label for="tab-1">Already Member?</label>
				</div>
			</div>
		</div>
	</div>
</div>
      
    </v-dialog>
  </div>
</template>
<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import { EventBus } from './../app'
import Authorization from './../authorization/authorize';
import GeneralFunctions from './../_helpers/functions';
Vue.use(GeneralFunctions);
Vue.use(Authorization);
Vue.use(VueAxios, axios);
export default {
  name: 'login',
  components: {},
  props: [],
  data () {
    return {
        authorized: false,
        dialog: false,
        email: '',
        password: '',
        accountItems: [
          { item: 'Account', action: 'account' },
          { item: 'Logout', action: 'logout' },
        ],
        elementWidth: 80
    }
  },
  created (){
    EventBus.$on('loginUser', (data) => {
      if(data == "login"){
        this.authorized = true;
        this.elementWidth = 150;
      }
      console.log(data);
    });
    EventBus.$on('isAnonymous', (data) => {
      if(data){
        this.logout_attempt();
      }
    });
    
  },
  computed: {

  },
  mounted () {
   this.authorized = this.signedIn;
   this.elementWidth = this.signedIn ? 150 : 80;

  //  console.log(this.SomethingAllDescendantsNeed);
  },
  methods: {
      login_attempt(){
        this.login(this.email, this.password)
        setTimeout(() => {
          console.log(this.signedIn);
            if(this.signedIn){
              this.elementWidth = 150;
              this.authorized = true;
            }
        }, 800);
      },
      logout_attempt(){
        this.logout();
        this.authorized = false;
        this.elementWidth = 80;
      },
      ItemChange(item){
        console.log(item.action);
        if(item.action == "logout"){
          this.logout_attempt();
        }
      }
  },
  watch: {

  }
}
</script>
<style scoped>
.my-account{
  float: right !important;;
  width: 100% !important;
  border: none !important;
  outline: none !important;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined):focus:before {
    opacity: 0 !important;
}
.theme--light.v-btn--active:before, .theme--light.v-btn--active:hover:before, .theme--light.v-btn:focus:before {
  opacity: 0 !important;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://cdn.pixabay.com/photo/2015/05/15/14/21/books-768426_960_720.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
</style>