<template>
</template>
<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
Vue.use(VueAxios, axios);
export default {
  name: 'logout',
  components: {},
  props: [],
  data () {
    return {

    }
  },
  computed: {

  },
  mounted () {
    axios.get('auth/logout').then(response => {
        console.log(response);
    }).catch(error => {
        console.log(error);
    });  
  },
  methods: {

  }
}
</script>