<template>
    <div class="main-container">
      <!-- <navigation-component></navigation-component> -->\Main
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>