<template>
<section class="resources-js-components-admin-dashboard">
        <users-list></users-list>
</section>
</template>
<script src="./resources/js/components/admin/users.js"></script>
<style src="./resources/js/components/admin/users.scss" scoped lang="scss"></style>

