<template>
   <v-snackbar
      v-model="snack_snackbar"
      :bottom="snack_y === 'bottom'"
      :color="snack_color"
      :left="snack_x === 'left'"
      :multi-line="snack_mode === 'multi-line'"
      :right="snack_x === 'right'"
      :timeout="snack_timeout"
      :top="snack_y === 'top'"
      :vertical="snack_mode === 'vertical'"
    >
      {{ text }}

      <template v-slot:action="{ attrs }">
        <v-btn
          dark
          text
          v-bind="attrs"
          @click="snack_snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
</template>
<script src="./resources/js/components/snackbar.js"></script>
<style src="./resources/js/components/snackbar.scss" scoped lang="scss"></style>

