<template>
  <div>
      <admin-top-navigation v-if="authorized"></admin-top-navigation>
      <user-top-navigation></user-top-navigation>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';
import Authorization from './../../authorization/authorize';
import { EventBus } from './../../app'
Vue.use(Authorization);
Vue.use(VueAxios, axios);
    export default {
        name: "Nav",
        data () {
          return {
            authorized: false
          }
        },
         created (){
          EventBus.$on('activateAdminMenu', (data) => {
            if(data){
              this.authorized = true;
              // this.elementWidth = 150;
            }
            console.log(data);
          })
        },
        mounted() {
          this.authorized = this.signedIn;
          console.log(this.signedIn);
        //     console.log("nav");
        //       axios.get('/api/auth/authenticated').then(response => {
        //     console.log(response);
        // }).catch(error => {
        //     console.log(error);
        // });  
        }
    }
</script>