<template>
  <v-row>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
       <div class="mx-2 mb-2">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          small 
        >
         <v-icon dark>mdi-plus-thick</v-icon> Add Content Type Field</v-btn>
       </div>
      </template>
        <v-form
            ref="form"
            v-model="valid"
            lazy-validation
        >
            <v-card>
                <v-card-title>
                <span class="headline">Add New Field</span>
                </v-card-title>
                <v-card-text>
                <v-container>
                    <v-row>
                    <v-col cols="12" sm="12">
                        <v-text-field 
                            label="Content type Title*" 
                            required 
                            v-model="ct_field_name"
                            :rules="ctFieldRules"
                        ></v-text-field>
                    </v-col>
                         <v-col cols="12" sm="12">
                        <v-text-field 
                            label="Machine name" 
                            required 
                            disabled
                            v-model="machine_name"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12">
                         <v-select
                            v-model="fieldType"
                            :items="fields"
                            item-text="field_name"
                            item-value="id"
                            label="Field Type"
                            required
                           
                        ></v-select>
                    </v-col>
                    <v-col cols="12" sm="12">
                        <v-text-field 
                            label="Hint" 
                            v-model="field_hint"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12">
                        <v-text-field 
                            label="Placeholder" 
                            v-model="field_placeholder"
                        ></v-text-field>
                    </v-col>
                    <v-checkbox
                        v-model="field_required"
                        label="Required"
                    ></v-checkbox>
                    <v-col cols="12" sm="12">
                         <v-select
                            v-model="selectedLimit"
                            :items="limit"
                            item-text="text"
                            item-value="value"
                            label="Limit"
                            required
                        ></v-select>
                    </v-col>
                
                    
                    </v-row>
                </v-container>
                <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="createNewField()">Submit</v-btn>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-dialog>
    <snackbar :color="snackbarColor" :mode="''" :x="''" :y="'top'" :timeout="5000" :text="snackbarText" :snackbar="snackbar" :key="snackbarComponentKey"></snackbar>
  </v-row>
</template>
<script src="./resources/js/components/admin/content/content-type-field-add.js"></script>
<style src="./resources/js/components/admin/content/content-type-field-add.scss" scoped lang="scss"></style>

