<template>
<section class="resources-js-components-admin-content-content-type-field-add">
  <h1>resources-js-components-admin-content-content-type-field-add Component</h1>
</section>
</template>
<script src="./resources/js/components/admin/content/content-type-field-edit.js"></script>
<style src="./resources/js/components/admin/content/content-type-field-edit.scss" scoped lang="scss"></style>

