<template>
<v-card>
    <v-card-title>
      Content Types
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table 
    :headers="headers" 
    :items="ct_list"
    :search="search"
    >
      <template v-slot:item="row">
          <tr>
            <td>{{row.item.ct_name}}</td>
            <td>{{row.item.ct_description}}</td>
            <td>{{row.item.created_at}}</td>
            <td>{{row.item.updated_at}}</td>
            <td>
                <v-btn class="mx-2" fab dark small color="pink" :to="'/admin/content-types/'+row.item.id">
                    <v-icon dark>mdi-pencil-box-multiple-outline</v-icon>
                </v-btn>
            </td>
          </tr>
      </template>
    </v-data-table>
  </v-card>
</template>
<script src="./resources/js/components/admin/content/content-type-list.js"></script>
<style src="./resources/js/components/admin/content/content-type-list.scss" scoped lang="scss"></style>

