<template src="./resources/js/components/admin/content/content-view.html"></template>
<script src="./resources/js/components/admin/content/content-view.js"></script>
<style src="./resources/js/components/admin/content/content-view.scss" scoped lang="scss"></style>

