<template>
    <v-toolbar dense flat dark class="admin_toolbar">

          <v-toolbar-title>Admin</v-toolbar-title>
          <v-btn icon :to="'/admin/dashboard'">
            <v-icon>mdi-view-dashboard</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          

        

          <!-- <v-btn icon @click="logout">
            <v-icon>mdi-logout</v-icon>
            Logout
          </v-btn> -->
      </v-toolbar>
</template>
<script src="./resources/js/components/admin/top-navigation.js"></script>
<style src="./resources/js/components/admin/top-navigation.scss" scoped lang="scss"></style>

