<template>
<section class="resources-js-components-admin-dashboard">
    dashboard
</section>
</template>
<script src="./resources/js/components/admin/dashboard.js"></script>
<style src="./resources/js/components/admin/dashboard.scss" scoped lang="scss"></style>

