<template>
  <v-row>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
       <div class="mx-2 mb-2">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
          small 
        >
         <v-icon dark>mdi-plus-thick</v-icon> Add Content</v-btn>
       </div>
      </template>
      <template>
        <v-card>
        <v-card-title class="headline">Add new content</v-card-title>

        <v-card-text>
              <v-list subheader>
                <v-subheader>Content type list</v-subheader>
                <v-list-item
                    two-line
                    v-for="item in contentTypes"
                    :key="item.id"
                    @click="openForm(item.machine_name)"
                >
                    <v-list-item-content>
                    <v-list-item-title><strong>{{ item.ct_name }}</strong></v-list-item-title>
                    <v-list-item-subtitle v-text="item.ct_description"></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-icon>
                    <v-icon :color="item.active ? 'deep-purple accent-4' : 'grey'">mdi-plus-thick</v-icon>
                    </v-list-item-icon>
                </v-list-item>
              </v-list>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
        </template>
    </v-dialog>
  </v-row>
</template>
<script src="./resources/js/components/admin/content/content-add.js"></script>
<style src="./resources/js/components/admin/content/content-add.scss" scoped lang="scss"></style>

