<template>
<section class="resources-js-components-newsletter">
  <div class="quick-register">
     <v-form
        ref="form"
        v-model="valid"
        lazy-validation
    >
       <div class="row">
         <div class="col-md-8 newsletter_email_wrapper">
            <v-text-field
            solo
            placeholder="Email"
            v-model="email"
            :rules="emailRules"
            required
            dense
            ></v-text-field>
         </div> <!-- col -->
         <div class="col-md-4 newsletter_button_wrapper">
          <v-btn
            color="primary"
            class="mr-4 newsletter_submit_btn"
            @click="submit"
            >
            Join Now
          </v-btn>
           <!-- <button class="m-btn m-btn-theme"  @click="submit"></button> -->
         </div> <!-- col -->
       </div>
     </v-form>
   </div>
</section>
</template>
<script src="./resources/js/components/newsletter.js"></script>
<style src="./resources/js/components/newsletter.scss" scoped lang="scss"></style>

