<template>
<section class="resources-js-components-content">
      <content-add></content-add>
      <v-spacer></v-spacer>
      <content-list></content-list>
</section>
</template>
<script src="./resources/js/components/admin/content/content.js"></script>
<style src="./resources/js/components/admin/content/content.scss" scoped lang="scss"></style>

